*{
    padding: 0;
    margin: 0;
}
html{
    box-sizing: border-box;
    background-color: rgb(56, 53, 53);
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
section{
    height: 100vh;
}
footer{
    height: 100px;
    background-color: rgb(24, 146, 146);
    width: 100%;
    gap: 50%;
}
h1{
    font-family: Arial;
    font-size: 60px;
    font-family: Qwitcher;
    color: rgb(241, 230, 230)
}
@font-face {
    font-family: Qwitcher;
    src: url(./fonts/QwitcherGrypen-Bold.ttf);
}
.flexbox{
    display: flex;
}
.vel-show{
    height: 100%;
    min-width: 15%;
    text-align: center;
    align-items: center;
    gap: 5px;
    font-size: 20px;
}
.vel-show .velocimetro{
    height: 100%;
    width: 100px;
    background-color: gray;
    background-image: url(/assets/imgs/velocimetro.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.vel-show div .ponteiro{
    margin: 0 auto;
    height: 100%;
    width: 2px;
    border-radius: 200px 0 0 0;
    margin-top:10px;
    rotate: 248deg;
}
.botoes{
    height: 100%;
    width: 70%;
    gap: 30px;
    padding-right: 15px;
    justify-content: flex-end;
}
.botoes *{
    width: 100px;
    height: 100%;
    cursor: pointer;
    border-radius: 10px;
}
.botoes button:hover{
    filter: brightness(150%);
}
.botoes .acelerador{
    height: 80px;
    width: 40px;
    margin: auto 0;
    background: rgb(68, 68, 68);
}
.botoes .freio{
    height: 40px;
    width: 60px;
    margin: auto 0;
    background: rgb(68, 68, 68);
}
.botoes .freio-mao{
    margin-right: 60px;
    height: 100px;
    width: 120px;
    background: none;
    border: none;
    margin-bottom: 0;
}
.botoes .freio-mao div:nth-child(1){
    height: 65%;
    background-color: rgb(189, 189, 189);
    width: 10px;
    rotate: 290deg;
    border-radius: 2px 2px 0 0;
    margin: 0 auto;
    top: 30px;
    position: relative;
    z-index: 1;
    transition: ease-in-out 300ms;
}
.botoes .freio-mao div:nth-child(2){
    height: 20%;
    margin: 0 auto 15px auto;
    width: 70%;
    background-color: rgb(73, 72, 72);
    border-radius: 40px 40px 0 0;
    position: relative;
    z-index: 2;
}
.flexdiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
.nav-cima{
    height: 100px;
    background: rgb(165, 26, 26);
    width: 100%;
    align-items: center;
    justify-content: center;
}
.rua{
    align-self: center;
    width: 100%;
    background-color: aqua;
    height: 200px;
    flex-direction: column;
    background-image: url(../assets/imgs/ceu.png);
    background-position: 0;
    background-repeat:repeat;
    animation: ceu 30200ms infinite linear;
}
.rua .piso{
    background: black;
    height: 15px;
    width: 100%;
    position: relative;
    bottom: 0px;
    z-index: 2;
}

.carro{
    height: 90px; /* ajustar de acordo com a tela */
    width: 380px;
    margin:auto auto 19px auto;
    background-image: url(../assets/imgs/ferrari.png);
    background-size: cover;
    background-color: transparent;
    z-index: 3;
}

.eixo{
    margin-top: 55px; /* ajustar de acordo com o carro, height-30px*/
    background-color: transparent;
    height: 10px;
}
.roda{
    width: 26px;
    height: 26px;
    width: 1900px;
}
.roda img{
    user-select: none;
    width: 55px;
    height: 55px;
    margin-left: 25%;
    animation:rodar 4820ms infinite linear;
    animation-delay: 0ms;
}
.roda:nth-child(2) img{
    margin-left: 43%;
}
/* Cenário que contem tudo do fundo: arvores, pedras e a cerca*/
.cenario{
    position: relative;
    top: -180px;
    width: fit-content;
    max-height: 200px;
    gap: 10vw;
    animation: cenario 25100ms infinite linear;
}
.arvore{
    height: 180px;
    width: 120px;
}
.arvore .copa{
    background: green;
    height:50%;
    border-radius: 20px;
}
.arvore .tronco{
    height: 50%;
    background: brown;
    width: 20%;
    margin: 0 auto;
}
.pedra{
    height: 50px;
    background: gray;
    width: 50px;
    z-index: -1;
    margin-top: auto;
    border-radius: 12px 30px 5px 0;
}
.cerca {
    width: 420px;
    height: 70px;
    margin-top: auto;
}
.cerca .estaca{
    background: burlywood;
    display: inline-block;
    height: 70px;
    width: 20px;
}
.estaca .ponta-estaca{
    border-bottom: 25px  solid burlywood;
    border-left: 10px  solid transparent;
    border-right: 10px  solid transparent;
    margin-top: -25px;
}
.cerca .madeira-atravessada{
    margin: 0 -4px;
    display: inline-block;
    height: 70px;
    width: 50px;
}
.cerca .madeira-atravessada .m1, .m2{
    background: burlywood;
    height: 23%;
    margin: 15px 0;
}
/* o que faz a roda do carro girar*/
@keyframes rodar {
    from{rotate: 0deg;}
    to{rotate:360deg;}
} 
/* o ceu se move diferente do cenario, "parallax"*/
@keyframes ceu {
    from{background-position: 2247px;}
    to{background-position: -1498px;}
}
/* o que faz o cenario se movimentar*/
@keyframes cenario {
    from{left:100vw}
    to{left:-150vw}
}